:root {
  /* primary */
  --purple: hsl(263, 55%, 52%);
  --grey-blue: hsl(217, 19%, 35%);
  --black-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  /* neutrals */
  --light-grey: hsl(0, 0%, 81%);
  --light-grey-blue: hsl(210, 46%, 95%);
}

* {
  font-family: "Barlow Semi Condensed", serif;
  font-size: 13px;
  font-weight: 500;
  margin: 1rem;
}

.profile-pic {
  width: 2.5rem;
  border-radius: 100%;
}
.tagline {
  font-size: 1.5rem;
}
.quote,
.graduate {
  opacity: 50%;
}
/* .who{
  display: flex;  
} */

#clifford-testimonial {
  background-color: var(--purple);
  color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
}
#clifford-testimonial > .profile-pic {
  box-shadow: 0rem 0rem 0rem 0.2rem hsl(263, 49%, 58%); /*best I could figure to adjust the border opacity without creating a new :root colour for a single item.*/
}

/* TODO

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

- Mobile: 375px
- Desktop: 1440px
*/
